<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/prism.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/prism-line-numbers.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/prism-toolbar.css' | relative_url }}">
  <script src="{{ '/assets/js/prism.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/prism-line-numbers.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/prism-copy-to-clipboard.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/prism-toolbar.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/prism-line-links.js' | relative_url }}" defer></script>
</head>
